/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body */
body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  color: black;
  min-height: 100vh;
  background-image: url(../img/purple.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 32px;
}

/* Container */
.container {
  width: 100%;
  max-width: 600px;
  padding: 32px;
  background-image: transparent;
  border-radius: 8px;
}

/* Titolo */
h1 {
  font-family: "Bitcount Prop Single", system-ui;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  color: #ffffff;
}

/* Bottone */
.btn-refresh {
  display: block;
  width: 100%;
  font-family: "Cormorant", serif;
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  background-color: #2B2844;
  border: none;
  box-shadow: 0 0 5px #DEE4EB, 0 0 25px #DEE4EB;
  padding: 12px;
  border-radius: 4px;
  transition: 0.2s ease;
}
.btn-refresh:hover {
  box-shadow: 0 0 5px c, 0 0 25px #DEE4EB, 0 0 50px #DEE4EB, 0 0 100px #DEE4EB, 0 0 200px #DEE4EB;
  background-color: #02014C;
}

/* Lista */
.email-list {
  list-style: none;
  font-family: "Cormorant", serif;
  font-weight: 500;
}
.email-list .list-group-item {
  background-color: #DEE4EB;
  color: #2B2844;
  border: none;
  transition: color 0.3s ease;
}
.email-list .list-group-item:hover {
  background-color: #6f85b7;
  color: #ffffff; 
  transform: scale(1.02);
}
